.character-card {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: linear-gradient(to top, #0F0F0F 1%,
            rgba(15, 15, 15, 0.5) 45%, rgba(15, 15, 15, 0) 60%);
    border: 1px solid var(--color-secoundary-yellow);
    border-radius: 18px;
    position: relative;
    width: 236px;
    height: 362px;
    padding: 20px;
    padding-right: 10px;


    &__image {
        border-radius: 18px;
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;

    }

    &__title {
        font-size: 23px;
        font-weight: 500;
        color: var(--color-main-light);
        margin-bottom: 5px;
    }

    &__text {
        font-size: 16px;
        color: var(--color-main-yellow);
        margin-bottom: 3px;
    }

    &__arrow {
        width: 24px;
        height: 16px;
    }


}

.harry-info,
.hermione-info,
.ron-info,
.draco-info,
.minerva-info,
.severus-info,
.hagrid-info,
.lupin-info {
    top: 220px;
}

.cedric-info,
.cho-info,
.neville-info,
.luna-info,
.slughorn-info,
.umbridge-info,
.filch-info,
.dumbledore-info {
    top: 612px;
}