.more-info {
    background-color: var(--color-main-dark);
    border: 1px solid var(--color-secoundary-yellow);
    border-radius: 18px;
    position: absolute;
    width: 236px;
    height: 362px;
    padding: 20px;
    padding-left: 10px;
    z-index: 2;
    transition: 0.3s;


    &__text {
        color: var(--color-main-light);
        margin-bottom: 2px;
    }
}

.harry-info,
.hermione-info,
.ron-info,
.draco-info {
    top: 220px;
}

.cedric-info,
.cho-info,
.neville-info,
.luna-info {
    top: 612px;
}