.all-characters {
    background-color: var(--color-main-dark);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    transition: 0.3s;
    overflow: auto;

    &__cards-list {
        display: flex;
        justify-content: center;
        max-width: 1240px;
        max-height: 924px;
        gap: 30px;
        background-repeat: no-repeat;
        background-size: cover;
        flex-wrap: wrap;
        margin: 70px 30px;
    }

    &__group-of-card {
        display: flex;
        justify-content: center;
    }

    &__title {
        margin-top: 50px;
        margin-bottom: 0;
    }
}

// .personnel-section {
//     z-index: 2;
// }