.main_section {
    background-image: url(../images/main_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    // background-attachment: fixed;
    background-position: center;
    // position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;


    &__container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    &__title {
        margin-bottom: 80px;
    }




}